.video, .image {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100vh;
    z-index: -1;
}
.video {
    filter: opacity(0.5);
}

.slide-content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
}

.icon-down {
    font-size: 4rem;
    color: dodgerblue;
}

.logo-dark {
    color: #bfbfbf;
}

.slide-indicator {
    font-size: 2rem;
}

.slide-indicator.active {
    font-size: 3rem;
    color: dodgerblue;
}
.slide-indicator.dark {
    color: #bfbfbf;
}

.carousel-element {
    background-color: #fff;
    color: #000;
    opacity: .8;
    border-top-left-radius: 1.25rem;
    border-bottom-right-radius: 1.25rem;
}